<!-- Footer -->
  <footer id="footer">
    <p class="copyright">&copy; {{ site.title }}, made with &hearts; in Chicago, IL by <a href="https://stevenmaguire.com">Steven Maguire</a></p>
  </footer>

<!-- Scripts -->
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.scrolly.min.js"></script>
  <script src="/js/skel.min.js"></script>
  <script src="/js/util.js"></script>
  <!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
  <script src="/js/main.js"></script>
